$body-bg: #F6F6F6;

$blue: #005B9C;
$green: #23C324;
$red: #D20F36;

$theme-colors: (
  "primary": #005B9C,
  "danger": #D20F36,
  "success": #23C324,
  "secondary": #3D3535,
);

$enable-rounded: false;

$enable-shadows: true;

$enable-gradients: true;

$font-family-base: Droid Sans;